<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold">404</h1>
    <span class="text-danger">Mensajes no encontrados</span>
    <p class="lead">
      Este Email no envio ningun mensaje.
    </p>
    <a href="/productos" class="btn btn-primary">Ir a productos</a>
  </div>
</div>