<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a href="#!" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"
                    ></i>Carrito</a></h5>
                <hr />
              </div>
              {{#each carritos}}
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src={{this.foto}}
                            class="img-fluid rounded-3"
                            alt="Shopping item"
                            style="width: 65px;"
                          />
                        </div>
                        <div class="ms-3">
                          <h5>{{this.nombre}}</h5>

                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">${{this.precio}}</h5>
                        </div>

                        <form
                          action="/carritos/delete/{{this._id}}?_method=DELETE"
                          method="POST"
                        >
                          <input type="hidden" name="_method" value="DELETE" />
                          <button
                            type="submit"
                            class="btn btn-danger btn-sm"
                          >Borrar</button>
                        </form>

                        <a href="#!" style="color: #cecece;"><i
                            class="fas fa-trash-alt"
                          ></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>