<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col">
      <div class="card text-white" style="background-color: #6441a5">
        <div class="card-body p-4 justify-content-between align-items-center">

          <div class="row">

            <div class="card-header text-center">
              <h1 class="mb-3">
                Carrito de Compra</h1>
              <hr />
            </div>
            {{#each carritos}}

              <div
                class="card-body bg-dark text-white d-flex justify-content-around align-items-center"
              >
                <div>
                  <img
                    src={{this.foto}}
                    class="img-fluid rounded-3"
                    alt="Shopping item"
                    style="width: 100px;"
                  />
                </div>
                <div class="ms-3">
                  <h5>{{this.nombre}}</h5>

                </div>
                <div style="width: 80px;">
                  <h5 class="">${{this.precio}}</h5>
                </div>

                <form
                  action="/carritos/delete/{{this._id}}?_method=DELETE"
                  method="POST"
                >
                  <input type="hidden" name="_method" value="DELETE" />

                  <button
                    type="submit"
                    class="btn btn-danger btn-sm"
                  >Borrar</button>
                </form>
              </div>

            {{/each}}

            <div class="card-footer d-grid gap-2">
              <button
                id="botonFinalizar"
                type="submit"
                class="btn btn btn-dark"
              >Finalizar Compra</button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>