<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card text-white" style="background-color: #6441a5">
      <div class="card-body">
        <form action="/usuario/login" method="post">

          <div class="card-header text-center mb-3">
            Login
          </div>
          <div class="form-group mb-3">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Ingrese su email"
            />
          </div>
          <div class="form-group mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Ingrese su contraseña"
            />
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn btn-dark">
              confirmar
            </button>
          </div>

        </form>

        <p class="text-center mb-3">
          Si no tiene cuenta
          <a
            href="http://localhost:8080/usuario/registro"
            class="text-dark"
          >Registrate aqui!</a>
        </p>

      </div>
    </div>
  </div>
</div>