<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card text-white" style="background-color: #6441a5">
      <div class="card-body">
        <form action="/usuario/registro" method="post">

          <div class="card-header text-center mb-3">
            Crear Cuenta
          </div>

          <div class="form-group mb-3">
            <input
              type="text"
              class="form-control"
              name="nombre"
              placeholder="Ingrese su nombre completo"
            />
          </div>
          <div class="form-group mb-3">
            <input
              type="text"
              class="form-control"
              name="direccion"
              placeholder="Ingrese su direccion"
            />
          </div>

          <div class="form-group mb-3">
            <input
              type="text"
              class="form-control"
              name="telefono"
              placeholder="Ingrese su telefono "
            />
          </div>

          <div class="form-group mb-3">
            <input
              type="text"
              class="form-control"
              name="foto"
              placeholder="Ingrese su foto de perfil"
            />

          </div>

          <div class="form-group mb-3">
            <input
              type="email"
              class="form-control"
              name="email"
              placeholder="Ingrese su email"
            />
          </div>

          <div class="form-group mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              placeholder="Ingrese su contraseña"
            />
          </div>

          <div class="form-group mb-3">
            <input
              type="password"
              class="form-control"
              name="confirm_password"
              placeholder="Confirme su contraseña"
            />
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-dark">
              confirmar
            </button>
          </div>
        </form>

        <p class="text-center mb-3">
          Si ya estas registrado
          <a href="http://localhost:8080/" class="text-dark">ingresa aqui</a>
        </p>

      </div>
    </div>
  </div>
</div>