<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center">
    <h1 class="display-1 fw-bold">404</h1>
    <span class="text-danger">Producto no encontrado</span>
    <p class="lead">
      Esta producto no existe o no pudo ser encontrado
    </p>
    <a href="/productos" class="btn btn-primary">Ir a productos</a>
  </div>
</div>